

.eventsSection{
    width: 30%;
    float: left;
    margin: 0;
    padding: 0;
}

.eventsSection h4{
    font-size: 19px;
    font-weight: 800;
    color: #063366;
    margin-bottom: 15px;
}

.event{
    width: 100%;
    margin-bottom: 15px;
    float: left;
}

.event .details{
    float: left;
    margin-left: 5%;
    width: 80%;
}

.event .details p{
    margin: 0;
    font-size: 13px;
}

.event .details :last-child{
    font-weight: 700;
    line-height: 13px;
    cursor: pointer;
}

.event .details :last-child:hover{
    text-decoration: underline;
}

.event .date{
    float: left;
    width: 15%;
    background-color: #063366;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event .date :first-child{
    font-size: 11px;
    font-weight: 600;
    margin: 7px 0;
}

.event .date :last-child{
    font-size: 20px;
    margin: 0;
    margin-bottom: 8px;
    font-weight: 800;
}

.eventsSection button{
    margin-left: 15%;
}